.helpBubble {
    display: inline-block;
    position: relative;
    border-radius: 15px;
    background-color: #ededed;
    border: solid 3px #ededed;
    width: 100%;
    z-index: 100;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.helpBubble:hover .selectionBubbleIndicator {
    background-image: url('./images/selectionBubbleDecalGrey.png');
}

.helpBubble.selected {
    background-color: #5a6077ff;
    border: solid 3px #5a6077ff;
    color: white;
}

.helpBubble.selected .selectionBubbleIndicator {
    background-image: url('./images/selectionBubbleDecalDark.png');
}

.helpBubble:not(.selected):hover {
    cursor: pointer;
    background-color: #cecece;
    border-color: #CECECEFF;
    z-index: 100;
}

.selectionBubbleIndicator {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateX(-102%) translateY(-40%);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./images/selectionBubbleDecalLight.png');
}

.helpBubbleEuli {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    border: solid 3px #4D97FFFF;
    background-color: #e4f0ff;
    width: 100%;
    z-index: 100;
    text-align: left;
    padding: 10px;
    min-height: calc(2 * 0.9rem + 20px + 1.2rem); /*2 Zeilen + Padding oben und unten + Zeilenabstand*/
}

.helpBubbleEuliIndicator {
    position: absolute;
    width: 35px;
    height: auto;
    right: 0;
    top: 50%;
    transform: translateX(102%) translateY(-40%);
    z-index: -1;
}


/* Wenn ein Bubble reinkommt */
.animatedBubble-enter {
    opacity: 0;
    margin-bottom: 0;
    transform: translateY(20px) scale(0.5);
}

.animatedBubble-enter-active {
    opacity: 1;
    margin-bottom: 20px;
    transform: translateY(0) scale(1);
    transition: opacity 300ms ease-out, transform 300ms ease-out, margin-bottom 300ms ease-in-out;
}

/* Wenn ein Bubble rausgeht */
.animatedBubble-exit {
    opacity: 1;
    transform: translateY(0) scale(1);
    margin-bottom: 20px;
}
.animatedBubble-exit-active {
    opacity: 0;
    transform: translateY(0px) scale(0.8);
    transition: opacity 300ms linear, transform 300ms ease-in-out, margin-bottom 300ms ease-in-out;
    margin-bottom: 0;
}
