

.container {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    color: hsla(225, 15%, 40%, 1);
}

.description {
    text-align: justify;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.descriptionHeader {
    text-align: left;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.error {
    margin: 8px 0;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 5px;
    color: white;
    justify-content: left;
    display: flex;
    text-align: left;
    width: 90%;
}

.error-label {
    margin-right: 5px;
    text-align: left;
}

.error-bar {
    display: flex;
    align-items: center;
    border: 2px solid #e74c3c;
    border-radius: 10px;
    padding: 5px 5px;
    width: 90%;
}

.explanation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4D97FFFF;
    border-radius: 10px;
    width: 90%;
    margin-top: 5px;
    padding: 10px 10px;
}

.explanation-text {
    text-align: justify;
    width: 100%;
}

.error-text {
    flex-grow: 1;
    font-size: 16px;
    text-align: right;
}

.errorNumber {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}

.details-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}

.details-button:hover {
    background-color: #c0392b;
}

.button-bar {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button-element {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    cursor: pointer;
    background-color: hsla(215, 100%, 65%, 1);
    min-width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-element:hover {
    background-color: #3d77c5;
}

.button-element-disabled {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    cursor: pointer;
    background-color: #4D97FF6B;
    min-width: 150px;
    height: 45px;
    position: relative;
}

.next-button {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    cursor: pointer;
    background-color: hsl(10, 22%, 56%);
    min-width: 120px;
}

.next-button:hover {
    background-color: #795d55;
}


.details-button .tooltip-text {
    visibility: hidden;
    width: 210px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 110%;

    opacity: 0;
    transition: opacity .7s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.details-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.details-button .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #e74c3c;
}

.error-label {
    margin-right: 5px;
    text-align: left;
}

.test-bar {
    display: flex;
    align-items: center;
    border: 2px solid hsla(215, 100%, 65%, 1);
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 40px;
}

.test-text {
    flex-grow: 1;
    font-size: 16px;
    text-align: right;
}

.test-number {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.test-details-button {
    background-color: hsla(215, 100%, 65%, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}

.test-details-button:hover {
    background-color: hsl(215, 59%, 53%);
}

.testContainer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testBox {
    width: 300px;
    display: flex;
    align-items: start;
    border: 2px solid hsla(215, 100%, 65%, 1);
    border-radius: 10px;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.test-result-button {
    background-color: hsla(215, 100%, 65%, 1);
    color: white;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 8px;
    padding: 5px 15px;
    cursor: pointer;
    position: relative;
}

.test-result-button:hover {
    background-color: hsl(215, 59%, 53%);
}

.test-res-container {
    display: flex;
    align-items: start;
    width: 298px;
}

.result-item {
    display: flex;
    align-items: start;
    margin-bottom: 5px;
    width: 297px;
    justify-content: space-between;
}

.reset-button {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: hsla(215, 100%, 65%, 1);
    color: white;
    border: none;
    border-radius: 10px;
    min-width: 150px;
    height: 45px;
}

.reset-button:hover {
    background-color: hsl(215, 54%, 41%);
}

.reset-button-loading {
    position: relative;
    overflow: hidden;
    background-color: #4D97FF6B;
    color: white;
    border: none;
    border-radius: 10px;
    min-width: 144px;
    height: 41px;
}

.reset-button-pressed {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: hsl(215, 54%, 41%);
    color: white;
    border: none;
    border-radius: 10px;
    min-width: 144px;
    height: 41px;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 45px;
}

.progressBar {
    position: absolute;
    left: 10%;
    bottom: 6px;
    height: 4px;
    width: 0;
    border-radius: 3px;
    background-color: white;
    transition: width 1s linear;
}















.container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: start;
    width: 100%;
    color: hsla(225, 15%, 40%, 1);
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.descriptionFinish {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 80%;
}

.descriptionFinish p {
    margin: 0;
}

.title-image {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.descriptionHeader {
    text-align: left;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.details-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 2px solid #4381d7;
    border-radius: 10px;
    padding: 5px 5px;
    width: 80%;
}

.details-bar-element {
    display: flex;
    align-items: start;
    padding: 5px 5px;
    width: 80%;
}

.details-text {
    flex-grow: 1;
    font-size: 16px;
    text-align: left;
    margin-left: 5px;
}

.details-title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}
