@import "../../css/colors.css";
@import "../../css/units.css";

.slider-container {
  width: 100%;
  padding-right: 2px;
  pointer-events: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: rgba(211, 211, 211, 0.5);
  border-radius: 7.5px;  
  border: 1px solid rgba(143, 143, 143, 0.5);
  outline: none;
  opacity: 0.99;
  -webkit-transition: .1s;
  transition: opacity .1s;
}
  
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #4D97FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4D97FF;
  cursor: pointer;
}
