@import "../../../../css/colors.css";

.speech-bubble-box {
  position: fixed;
  bottom: 400px;
  left: calc(33% + 20px);
  width: calc(66% - 130px);
  min-height: 85px;
  max-height: 85px;
  margin-right: 25px;
  padding-right: 3px;
  border-radius: 10px;
  color: #575E75;
  background: $ui-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.speech-bubble-triangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 16px solid $ui-secondary;
  border-right: 16px solid transparent;
  border-top: 8px solid $ui-secondary;
  border-bottom: 8px solid transparent;
  right: -30px;
  bottom: 25px;
}

.answer-messages {
  padding: 10px;
  max-height: 85px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CECDCE transparent;
}

.cat {
  width: 75px;
  position: fixed;
  bottom: 400px;
  right: 20px;
}

.block-area {
  position: fixed;
  bottom: 20px;
  left: calc(33% + 20px);
  width: calc(66% - 70px);
  height: 360px;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 4px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CECDCE transparent;
}

.responsible-targets {
  position: fixed;
  bottom: 90px;
  right: 12px;
  height: 290px;
  width: 42px;
  padding-top: 5px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CECDCE transparent;
}

.block-area::-webkit-scrollbar-track,
.responsible-targets::-webkit-scrollbar-track,
.answer-messages::-webkit-scrollbar-track {
  margin-top: 1px;
  margin-bottom: 1px;
}

.block-area::-webkit-scrollbar,
.responsible-targets::-webkit-scrollbar,
.answer-messages::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.block-area::-webkit-scrollbar-thumb,
.responsible-targets::-webkit-scrollbar-thumb,
.answer-messages::-webkit-scrollbar-thumb {
  background:#CECDCE;
  border: 1px solid #CECDCE;
  border-radius: 4px;
}

.zoom-button {
  position: fixed;
  right: 25px;
  height: 24px;
  cursor: pointer;
}

.zoom-button:hover {
  filter: brightness(62%);
}

.zoom-in-button {
  bottom: 55px;
}

.zoom-out-button {
  bottom: 25px;
}

.stage, .distance-path, .mouse-pointer {
  position: fixed;
  bottom: 20px;
  left: calc(33% + 20px);
}

.stage {
  border-radius: 10px;
  border: 1px solid #ABAEBA;
}
