@import "../../../../css/colors.css";

.speech-bubble-box {
  position: fixed;
  top: calc(100% - 495px);
  left: calc(33% + 20px);
  width: calc(66% - 130px);
  min-height: 95px;
  max-height: 95px;
  margin-right: 25px;
  padding-right: 3px;
  border-radius: 10px;
  color: #575E75;
  background: $ui-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.speech-bubble-triangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 16px solid $ui-secondary;
  border-right: 16px solid transparent;
  border-top: 8px solid $ui-secondary;
  border-bottom: 8px solid transparent;
  right: -30px;
  top: 54px;
}

.answer-messages {
  padding: 10px;
  max-height: 95px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CECDCE transparent;
}

.rainbow-text {
  background: linear-gradient(53.13deg,#FFD33D 0,#FB8532 16.02%,#EA4A5A 28.06%,#8A63D2 56.92%,#2188FF 72.93%,#34D058 84%,#FFD33D 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.cat {
  width: 77px;
  position: fixed;
  bottom: 400px;
  right: 20px;
}

.unicorn {
  width: 80px;
  position: fixed;
  bottom: 412px;
  right: 20px;
}

.block-area {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: calc(66% - 30px);
  height: 360px;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 4px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CECDCE transparent;
}

.responsible-targets {
  position: fixed;
  bottom: 100px;
  right: 27px;
  height: 280px;
  width: 37px;
  padding-top: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CECDCE transparent;
}

@-moz-document url-prefix() {
  .responsible-targets {
    bottom: 99px;
    width: 42px;
    right: 22px;
  }
}

.block-area::-webkit-scrollbar-track,
.answer-messages::-webkit-scrollbar-track {
  margin-top: 1px;
  margin-bottom: 1px;
}

.responsible-targets::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 5px;
}

.block-area::-webkit-scrollbar,
.answer-messages::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.responsible-targets::-webkit-scrollbar {
  width: 2px;
}

.block-area::-webkit-scrollbar-thumb,
.responsible-targets::-webkit-scrollbar-thumb,
.answer-messages::-webkit-scrollbar-thumb {
  background:#CECDCE;
  border: 1px solid #CECDCE;
  border-radius: 4px;
}

.zoom-button {
  position: fixed;
  right: 30px;
  height: 24px;
  cursor: pointer;
}

.zoom-button:hover {
  filter: brightness(62%);
}

.zoom-in-button {
  bottom: 60px;
}

.zoom-out-button {
  bottom: 30px;
}

@-moz-document url-prefix() {
  .zoom-button {
    right: 31px;
  }
  
  .zoom-in-button {
    bottom: 61px;
  }
  
  .zoom-out-button {
    bottom: 31px;
  }
}

.stage, .distance-path, .mouse-pointer {
  position: fixed;
  bottom: 20px;
  left: calc(33% + 20px);
}

.stage {
  border-radius: 10px;
  border: 1px solid #ABAEBA;
}

.slider-container {
  width: 100%;
  padding-right: 3px;
  pointer-events: auto;
  position: fixed;
  bottom: 20px;
  width: 480px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: rgba(211, 211, 211, 0.5);
  border-radius: 7.5px;  
  border: 1px solid rgba(143, 143, 143, 0.5);
  outline: none;
  opacity: 0.99;
  -webkit-transition: .1s;
  transition: opacity .1s;
}
  
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #4D97FF;
  cursor: default;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4D97FF;
  cursor: default;
}

.slider-value-label {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
}

.slider-value-label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 4px;
  background: red;
  bottom: -4px;
  left: 50%;
}

.feedback {
  position: fixed;
  bottom: 515px;
  right: 20px;
}

.feedback-button {
  float: left;
  height: 21px;
  cursor: pointer;
  opacity: 0.3;
  padding-left: 3px;
}

.feedback-button:hover {
  opacity: 0.8;
}

.selected-feedback-button, .feedback-button:active {
  opacity: 1;
}

.feedback-button:active {
  transform: scale(1.25);
}

.answer-messages svg {
  margin: 2px 4px 0 4px;
}

.answer-messages span {
  display: contents;
}

.answer-messages svg rect[fill="#ffffff"] ~ text {
  fill: #575E75 !important;
}

span[blockType=stack], span[blockType=reporter] {
  display: inline-block;
  vertical-align: 10%;
  color: white;
  font-size: 10px;
  padding: 3px 6px 2px 6px;
  margin: 3px 5px 1px 5px;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

span[blockType=stack] {
  border-radius: 3px;
}

span[blockType=reporter] {
  border-radius: 10px;
}

span[blockCategory=motion] {
  background-color: #4c97ff;
}

span[blockCategory=look] {
  background-color: #9966ff;
}

span[blockCategory=sound] {
  background-color: #cf63cf;
}

span[blockCategory=events] {
  background-color: #ffbf00;
}

span[blockCategory=control] {
  background-color: #FFAB19;
}

span[blockCategory=sensing] {
  background-color: #5cb1d6;
}

span[blockCategory=operators] {
  background-color: #59c059;
}

span[blockCategory=variables] {
  background-color: #ff8c1a;
}

span[blockCategory=lists] {
  background-color: #ff661a;
}

span[blockCategory=procedure] {
  background-color: #FF6680;
}
