@import "../../../../css/colors.css";
@import "../../../../css/z-index.css";

.overlay {
    background: $ui-black-transparent;
    position: fixed;
    pointer-events: none;
    z-index: $z-index-card;
}

.card {
    border-width: 0px;
    min-width: 1000px;
    max-width: 1400px;
}

.header {
    min-width: 1000px;
}

.body {
    height: 540px;
    width: 100%;
    background: white;
    cursor: default;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #575E75;
    word-wrap: break-word;
}

.question-hierarchy {
    height: 540px;
    width: 33%;
    padding: 20px;
    padding-right: 12px;
    border-right: 2px solid $ui-white;
    float: left;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #CECDCE transparent;
}

.question-hierarchy::-webkit-scrollbar-track {
    margin-top: 1px;
    margin-bottom: 1px;
}

.question-hierarchy::-webkit-scrollbar {
    width: 6px;
}

.question-hierarchy::-webkit-scrollbar-thumb {
    background:#CECDCE;
    border: 1px solid #CECDCE;
    border-radius: 4px;
}

.answerArea {
    height: 540px;
    width: 67%;
    padding: 20px;
    float: left;
    border-left: 1px solid hsla(0, 0%, 0%, 0.15);
}

.selectedQuestion, .answer {
    width: 100%;
}

.loader-div {
    position: fixed;
    right: calc(33.5% - 30px);
    bottom: calc(250px - 30px);
}
  
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid gray;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.debugger-crash-message, .answer-crash-message {
    text-align: center;
    color: red;
}

.debugger-crash-message {
    height: 540px;
    width: 1000px;
    padding-top: 230px;
    font-size: 15px;
}

.answer-crash-message {
    padding-top: 180px;
    font-size: 14px;
}
