@import "../../../../css/colors.css";

.category-list {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

.category-list-item {
    padding: 4px;
    margin-bottom: 8px;
    color: #575E75; 
    background-color: white; 
    border: 1px solid $ui-black-transparent;
    border-radius: 4px;
}