@import "../../../css/units.css";
@import "../../../css/colors.css";
@import "../../../css/z-index.css";

.card-title-header {
    font-size: 0.9rem;
    margin: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: $ui-primary;
    cursor: grab;
}
.card-title-header:active {
    cursor: grabbing;
}
.step-body {
    overflow-y: auto;
    height: 550px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: grab;
    resize: both;
    min-width: 480px;
}
.step-body:active {
    cursor: grabbing;
}
.step-body::-webkit-scrollbar {
    width: 0.4rem;
}
.step-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.step-body::-webkit-scrollbar-thumb {
    background: #888;
}
.step-body::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.left-card::after, .right-card::after {
    background: $motion-primary;
}
.left-button, .right-button {
    background: $motion-primary;
    box-shadow: 0 0 0 4px $motion-transparent;
}
.left-button:hover, .right-button:hover {
    box-shadow: 0 0 0 6px $motion-transparent;
}
.header-buttons {
    background: $motion-primary;
    border-bottom: 1px solid $motion-tertiary;
    cursor: grab;
}
.header-buttons:active {
    cursor: grabbing;
}
.home-button {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.home-button:hover, .all-button:hover {
    background-color: $ui-black-transparent;
}

.home-button-icon {
    height: 20px;
    width: 20px;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: hsla(215, 100%, 65%, 1);
    border-top: 1px solid hsla(215, 60%, 50%, 1);
    display: flex;
    justify-content: center;
    cursor: grab;
    z-index: 10;
}
.footer:active {
    cursor: grabbing;
}
.footer-text {
    text-align: center;
    color: hsla(215, 100%, 95%, 1);
    margin: 5px;
}

.footer-link {
    color: hsla(215, 100%, 95%, 1);
    text-decoration: underline;
    cursor: pointer;
    margin-top: 8px;
}

.footer-link:hover {
    color: hsl(18, 100%, 77%);
}

.tutorial {
    width: 100%;
    height: 110px;
    text-align: left;
    background: #e9f2fa;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #828282;
    margin-top: 2px;
    cursor: pointer;
}

.tutorial:hover {
    background-color: $ui-black-transparent;
}

.tutorial-head {
    width: 100%;
    height: 15px;
    background: #4c7397;
    box-sizing: border-box;
    border-radius: 10px;
}

.tutorial-image {
    height: 70px;
    width: 103px;
    margin: 4px 10px;
    box-sizing: border-box;
    border-radius: 10px;

}

.tutorial-container {
    height: 80px;
    display: flex;
    border: 1px solid #77aad9;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 3px 10px 10px;
}

.tutorial-title {
    font-family: Comic Sans MS, serif;
    font-size: 20px;
    color: hsla(225, 15%, 40%, 1);
    line-height: 80px;
    margin-left: 10px;
}

.tutorial-difficulty {
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    line-height: 80px;
    text-align: center;
    font-family: Comic Sans MS, serif;
    font-size: 20px;
}

.easy {
    color: #57902c;
}

.medium {
    color: #ffa000;
}

.difficult {
    color: #CD5C5C;
}

.tutorial-step {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}

.intro-download-container {
    height: 80px;
    display: inline-block;
    justify-content: space-between;
    background-color: bisque;
    width: 80%;
    box-sizing: border-box;
    border: 1px #b3734a solid;
    border-radius: 10px;
    margin-top: 5px;
}

.intro-image {
    max-height: 60px;
    max-width: 125px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.intro-download-button {
    width: 150px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    background-color: #ff8a54;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.intro-download-text {
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: left;
    align-items: center;
    margin-left: 30px;
    font-family: 'Open Sans',sans-serif;
    color: hsla(225, 15%, 40%, 1);
}

.intro-download-button:hover {
    background-color: #ff9c6d;
}

.skip-link {
    color: white;
    font-size: small;
    margin-bottom: -5px;
}

.step-title {
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
    color: hsla(225, 15%, 40%, 1);
}

.step-instructions {
    margin: 12px 29px 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    color: hsla(225, 15%, 40%, 1);
}

.step-image {
    width: 205px;
    height: 136px;
    margin: 20px auto 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.step-testing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

}

.step-testing-button {
    width: 100px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    background-color: #ff8a54;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.step-code-quality-hint-generation {
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    background-color: #ff8a54;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.step-testing-button:hover {
    background-color: #ff9c6d;
}

.step-testing-button-title {
    line-height: 40px;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: white;
}

.step-testing-success {
    line-height: 30px;
    color: #229954;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.step-testing-fail {
    line-height: 30px;
    color: #cb4335;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 29px;
    margin-right: 29px;
    border: 2px solid #cb4335;
    border-radius: 10px;
    padding: 10px;
}

.step-testing-finished {
    line-height: 30px;
    color: #229954;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 29px;
    margin-right: 29px;
    border: 2px solid #229954;
    border-radius: 10px;
    padding: 10px;
}

.step-testing-fail-short {
    line-height: 30px;
    color: #cb4335;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0;
    margin-right: 29px;
}

.step-testing-loading {
    line-height: 30px;
    color: hsla(225, 15%, 40%, 1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0;
    margin-right: 29px;
}

.step-solution-header {
    width: 500px;
    height: 40px;
    margin-top: 20px;
    display: inline-block;
    text-align: left;
    background-color: #ff8a54;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.step-solution-header:hover {
    background-color: #ff9c6d;
}

.step-solution-header-title {
    display: inline;
    line-height: 40px;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: white;
    margin-left: 15px;
}

.step-solution-header-arrow-up {
    height: 26px;
    margin: 7px 10px;
    float: right;
}

.step-solution-header-arrow-left {
    height: 26px;
    margin: 7px 10px;
    float: right;
    transform: rotate(-90deg);
}

.step-solution-header-arrow-right {
    height: 26px;
    margin: 7px 10px;
    float: right;
    transform: rotate(90deg);
}

.step-solution-header-arrow-down {
    height: 26px;
    margin: 7px 10px;
    float: right;
    transform: rotate(180deg);
}

.step-solution-container {
    width: 500px;
    margin-bottom: 20px;
    display: inline-flex;
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffdac9;
}

.step-solution-image {
    margin: 25px;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.step-solution-text {
    width: 250px;
    margin: 25px 15px 25px 0;
    font-size: 1rem;
    line-height: 1.3;
    font-family: 'Open Sans',sans-serif;
    color: hsla(225, 15%, 40%, 1);
}

.success-home-button {
    width: 150px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    background-color: #ff8a54;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.success-home-button:hover {
    background-color: #ff9c6d;
}

.nav-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.nav-bar-button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ff8a54;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.selected-nav-bar-button {
    background-color: #40BF4A;
}

.page {
    padding-left: 15%;
    height: 95%;
    width: 100%;
}

.code-quality-box {
    border: 2px solid #444;
    min-height: 450px;
    width: 100%;
    border-radius: 10px;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hint-type-button {
    flex: 1;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ff8a54;
    color: white;
    border: 2px solid #444;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.hint-type-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overflowed {
    transform: scale(0.75);
}

.test-table {
    margin: 30px;
    width: 92%;
    border-collapse: collapse;
}

.test-table th,
.test-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.test-table th {
    background-color: #f2f2f2;
}

.test-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.passed {
    color: green;
}

.failed {
    color: red;
}

.sprite {
    border: 1px solid black;
    border-radius: 10px;
    flex: 1;
    margin-bottom: 9px;
    padding-top: 14px;
    color: dodgerblue;
}

.test-passed-message {
    color: #229954;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 50px;
}

.test-description-button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.test-description-button:hover {
    background-color: #555555;
    color: white;
}
