@import "../../../css/colors.css";

.speech-bubble-box {
  position: fixed;
  bottom: 100px;
  right: 180px;
  width: 350px;
  min-height: 95px;
  max-height: 130px;
  margin-right: 25px;
  padding-right: 3px;
  border-radius: 10px;
  color: #575E75;
  background: $ui-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.speech-bubble-triangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 16px solid $ui-secondary;
  border-right: 16px solid transparent;
  border-top: 8px solid $ui-secondary;
  border-bottom: 8px solid transparent;
  right: -30px;
  top: 54px;
}

.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.help-messages {
  padding: 10px;
  max-height: 130px;
  width: 100%;

}

.owl-button{
    background-color: #a07a75;
    border: 2px solid #a07a75;
    color: white;
    padding: 5px 10px;
    margin: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    transition-duration: 0.4s;
}


.owl-button:hover {
    background-color: white;
    color: #a07a75;
    cursor: pointer;
}

.owl {
  width: 77px;
  position: fixed;
  bottom: 80px;
  right: 120px;
}


.help-messages svg {
  margin: 2px 4px 0 4px;
}

.help-messages span {
  display: contents;
}

.help-messages svg rect[fill="#ffffff"] ~ text {
  fill: #575E75 !important;
}
