.color-4c97ff > div > b {
    color: #4c97ff;
}
.color-9966ff > div > b {
    color: #9966ff;
}
.color-cf63cf > div > b {
    color: #cf63cf;
}
.color-5cb1d6 > div > b {
    color: #5cb1d6
}
.color-59c059 > div > b {
    color: #59c059
}
.color-ff8c1a > div > b {
    color: #ff8c1a;
}
.color-ffbf00 > div > b {
    color: #ffbf00;
}
