.color-4c97ff > span > b {
    color: #4c97ff;
}
.color-9966ff > span > b {
    color: #9966ff;
}
.color-cf63cf > span > b {
    color: #cf63cf;
}
.color-ffbf00 > span > b {
    color: #ffbf00;
}
.color-ffab19 > span > b {
    color: #ffab19
}
.color-5cb1d6 > span > b {
    color: #5cb1d6
}
.color-59c059 > span > b {
    color: #59c059
}
.color-ff8c1a > span > b {
    color: #ff8c1a;
}
