.main {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column;
    background-color: #fafafa;
    border: 1px solid #C3CCD9;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}
