.main {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-flow: row;
    background-color: #fafafa;
    border: 1px solid #C3CCD9;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.25rem;
}

.feature-selector {
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    margin-right: 0.5rem;
}
