@import "../../css/units.css";
@import "../../css/colors.css";

.generic-button {
    display: block;
    border: 1px solid $ui-black-transparent;
    border-radius: $form-radius;
    background: $ui-white;
    padding: 0.375rem;
    user-select: none;
    cursor: pointer;
    font-weight: normal;
}

.generic-button:hover {
    filter: brightness(0.9);
}
