@import "../../../../css/colors.css";

.question-text {
    height: 100%; 
    width: 100%; 
    padding: 8px;
    font-weight: normal;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid $ui-black-transparent;
    border-radius: 4px;
}

.question-text svg {
    margin: 0 4px 0 4px;
}

.scratch-block-container svg {
    margin: 4px;
}

.question-text svg rect[fill="#ffffff"] ~ text {
    fill: #575E75 !important;
}
