@import "../../../css/colors.css";

.header {
    background: #0FBD8C;
    cursor: default;
    border-width: 0px;
    height:5%;
    width: 100%;
    font-size: 15px;
    padding: 0 15px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.speech-bubble-box {
    position: relative;
    width: 350px;
    min-height: 95px;
    max-height: 300px;
    margin-right: 25px;
    padding-right: 3px;
    border-radius: 10px;
    color: #575E75;
    background: $ui-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.speech-bubble-triangle:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 16px solid transparent;
    border-right: 16px solid $ui-tertiary;
    border-top: 8px solid $ui-tertiary;
    border-bottom: 8px solid transparent;
    left: -30px;
    top: 54px;
}

.help-messages {
    padding: 10px;
    max-height: 130px;
    width: 100%;

}
.menu{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    border: 1px solid #CECDCE;
    border-radius: 4px;
}
.body{
    margin-top: 1px;

    height: 550px;
}
.category-list {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

.category-list-item {
    padding: 4px;
    margin-bottom: 8px;
    color: #575E75;
    background-color: transparent;
    border-radius: 4px;
}

.category {
    display: flex;
    padding: 4px 0;
    width: 100%;
    height: 60%;
    margin-left: 50px;
    cursor: pointer;
    border: none;
}
.owlArea {
    display: flex;
    height: 25%;
    border: none;
    width:100%;
    padding: 4px 0;
    cursor: pointer;
    justify-content: flex-end
}
.owl {
    position: relative;
    right: 150px;
    height: 200px;
}
