@import "../../../css/colors.css";

.body{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}
.category-list {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

.category-list-item {
    padding: 4px;
    margin-bottom: 8px;
    color: #575E75;
    background-color: white;
    border: 1px solid $ui-black-transparent;
    border-radius: 4px;
}

.category {
    display: flex;
    align-items: center;
    padding: 4px 0;
    width: 33%;
    height: 550px;
    margin-left: 50px;
    cursor: pointer;
    border: none;
}
.owlArea {
    display: flex;
    align-items: center;
    height: 550px;
    border: none;
    width:60%;
    padding: 4px 0;
    cursor: pointer;
}
.owl {
    height: 200px;
}
