:root{
    --bg: #ffffff;
    --text: #1f2937;
    --muted: #6b7280;

    --card-border: #e5e7eb;
    --option-border: #a9c7ff;
    --option-bg: #f8fafcff;

    --shadow: 0 10px 30px rgba(0,0,0,.08);
    --radius: 16px;
    --gap: 18px;
}

.cpContainer {
    height: 100vh;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background-image: url("../../images/skulls.png");
}

.white-box {
    padding-top: 30px;
    background-color: white;
    width: 90%;
    min-height: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 2px 10px 19px -2px rgba(0,0,0,0.56);
    -webkit-box-shadow: 2px 10px 19px -2px rgba(0,0,0,0.56);
    -moz-box-shadow: 2px 10px 19px -2px rgba(0,0,0,0.56);
    margin-bottom: 40px;
}

.finalTitle {
    font-size: 3rem;
    color: #575E75FF;
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: bold;
}

.bubbleContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 1rem;
}

.testStartBubble {
    color: #575E75FF;
    margin-right: 30px;
    display: inline-block;
    position: relative;
    border-radius: 15px;
    border: solid 3px #4D97FFFF;
    width: 100%;
    z-index: 100;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: calc(2 * 0.9rem + 20px + 1.2rem); /*2 Zeilen + Padding oben und unten + Zeilenabstand*/
}

.finalBubbleIndicator {
    position: absolute;
    width: 35px;
    height: auto;
    right: 0;
    top: 50%;
    transform: translateX(102%) translateY(-40%);
    z-index: -1;
}

.owl-image {
    width: 120px;
    height: auto;
}

.right-card {
    height: 90%;
    position: absolute;
    top: 5%;
    background: white;
    border: 1px solid lightgray;
    width: 0.75rem;
    z-index: 10;
    opacity: 0.9;
    overflow: hidden;
    right: -0.75rem;
    border-left: 0;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #575E75FF;
    box-shadow: 0 0 0 4px rgba(87, 94, 117, 0.26);
    height: 44px;
    width: 44px;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease;
    position: relative;
}

.right-button:hover {
    box-shadow: 0 0 0 4px rgba(87, 94, 117, 0.25);
    width: 140px;
}

.right-button:active {
    transform: scale(0.8);
}

.right-button span {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 0;
    transition: all 0.25s ease;
}

.right-button:hover span {
    font-size: 1rem;
}

.right-button img {
    width: 1.75rem;
    transition: all 0.25s ease;
    opacity: 1;
}

.right-button:hover img {
    opacity: 0;
    transform: translateX(40px);
}
