@import "../../../../css/colors.css";

.header {
    background: $motion-primary;
    cursor: default;
    border-width: 0px;
}

.title {
    font-size: 15px;
    margin: 15px;
    font-weight: bold;
    color: white;
}

.header-button {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.header-button:hover {
    background-color: $ui-black-transparent;
}

.icon {
    height: 20px;
    margin: 2px 0;
    margin-left: 4px;
}
