@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.card-title-header {
    font-size: 0.9rem;
    margin: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: $ui-primary;
}

.steps-list {
    padding-left: 20px;
}

.step-body {
    overflow-y: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.step-body::-webkit-scrollbar {
    width: 0.4rem;
}
.step-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.step-body::-webkit-scrollbar-thumb {
    background: #888;
}
.step-body::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

/* setting background color*/
.left-card::after, .right-card::after {
    background: $motion-primary;
}
.left-button, .right-button {
    background: $motion-primary;
    box-shadow: 0 0 0 4px $motion-transparent;
}
.left-button:hover, .right-button:hover {
    box-shadow: 0 0 0 6px $motion-transparent;
}
.header-buttons {
    background: $motion-primary;
    border-bottom: 1px solid $motion-tertiary;
}

.tutorial {
    width: 100%;
    height: 123px;
    text-align: left;
    background: #e9f2fa;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #828282;
    margin-top: 2px;
    cursor: pointer;
}

.tutorialHead {
    width: 100%;
    height: 15px;
    background: #4c7397;
    box-sizing: border-box;
    border-radius: 10px;
}

.tutorialImage {
    height: 70px;
    width: 103px;
    margin: 4px 10px;
    box-sizing: border-box;
    border-radius: 10px;

}

.tutorialContainer {
    height: 80px;
    display: flex;
    border: 1px solid #77aad9;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 3px 10px 10px;
}

.tutorialTitle {
    font-family: Comic Sans MS, serif;
    font-size: 20px;
    color: hsla(225, 15%, 40%, 1);;
    line-height: 80px;
    margin-left: 10px;
}

.tutorialDifficulty {
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    line-height: 80px;
    text-align: center;
    font-family: Comic Sans MS, serif;
    font-size: 20px;
}

.easy {
    color: #57902c;
}

.medium {
    color: #ffa000;
}

.difficult {
    color: #CD5C5C;
}

