@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.card-title-header {
    font-size: 0.9rem;
    margin: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: $ui-primary;
}

.steps-list {
    padding-left: 20px;
}

.step-body {
    overflow-y: auto;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.step-body::-webkit-scrollbar {
    width: 0.4rem;
}
.step-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.step-body::-webkit-scrollbar-thumb {
    background: #888;
}
.step-body::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

/* setting background color*/
.left-card::after, .right-card::after {
    background: $motion-primary;
}
.left-button, .right-button {
    background: $motion-primary;
    box-shadow: 0 0 0 4px $motion-transparent;
}
.left-button:hover, .right-button:hover {
    box-shadow: 0 0 0 6px $motion-transparent;
}
.header-buttons {
    background: $motion-primary;
    border-bottom: 1px solid $motion-tertiary;
}

.home-button {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.home-button:hover, .all-button:hover {
    background-color: $ui-black-transparent;
}

.home-button-icon {
    height: 20px;
    width: 20px;
}

.tutorial {
    width: 100%;
    height: 110px;
    text-align: left;
    background: #e9f2fa;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #828282;
    margin-top: 2px;
    cursor: pointer;
}

.tutorial:hover {
    background-color: $ui-black-transparent;
}

.tutorial-head {
    width: 100%;
    height: 15px;
    background: #4c7397;
    box-sizing: border-box;
    border-radius: 10px;
}

.tutorial-image {
    height: 70px;
    width: 103px;
    margin: 4px 10px;
    box-sizing: border-box;
    border-radius: 10px;

}

.tutorial-container {
    height: 80px;
    display: flex;
    border: 1px solid #77aad9;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 3px 10px 10px;
}

.tutorial-title {
    font-family: Comic Sans MS, serif;
    font-size: 20px;
    color: hsla(225, 15%, 40%, 1);
    line-height: 80px;
    margin-left: 10px;
}

.tutorial-difficulty {
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    line-height: 80px;
    text-align: center;
    font-family: Comic Sans MS, serif;
    font-size: 20px;
}

.easy {
    color: #57902c;
}

.medium {
    color: #ffa000;
}

.difficult {
    color: #CD5C5C;
}

.tutorial-step {
    background-color: hsl(0, 0%, 100%);
}

.step-title {
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
    color: hsla(225, 15%, 40%, 1);
}

.step-instructions {
    margin: 12px 29px 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    color: hsla(225, 15%, 40%, 1);
}

.step-image {
    width: 205px;
    height: 136px;
    margin: 20px auto 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.step-testing {
    display: block ruby;
    height: 60px;
}

.step-testing-button {
    width: 100px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 30px;
    background-color: #ff8a54;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.step-testing-button:hover {
    background-color: #ff9c6d;
}

.step-testing-button-title {
    line-height: 40px;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: white;
}

.step-testing-success {
    line-height: 30px;
    color: #229954;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.step-testing-fail {
    line-height: 30px;
    color: #cb4335;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
